*{
    padding: 0;
    margin:0;
}
div.AbouUs{
    text-align: center;
    color: white;
}

div.AboutUs-container{
    padding: 5%;
}

#slogan{
    padding-top: 10%;
    padding-bottom: 10%;
}

#AboutUs-title{ 
    text-align: right;
    background-image: url("../RES/IMAGES/AboutUs/whoweare.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}

#AboutUs-bar{
    text-align: center;
    padding: 1%;
    padding-right: 8%;
    padding-left: 8%;
    background-color: rgb(100,100,250);
    width: 100%;
    height: 100%;
}

div.AboutUs-contenute{
    color: white;
    text-align: center;
    padding: 5%;
    font-family: Aharoni;
    font-size: 150%;
    background-color: rgb(50,50,250);
    width: 100%;
    height: 70%;  
}

.AboutUs-History{
    padding-right: 5%;
    padding-left: 5%;
    display: inline-block;
}

.AboutUs-Goal{
    padding-right: 5%;
    padding-left: 5%;
    display: inline-block;
}

.AboutUs-Contact{
    padding-right: 5%;
    padding-left: 5%;
    display: inline-block;
}

.AboutUs-Testimonial{
    padding-right: 5%;
    padding-left: 5%;
    display: inline-block;
}

.AboutUs-Contact-right{
    text-align: right;
    display: inline-block;
    margin-left: 8%;
}

.AboutUs-Contact-left{
    text-align: left;
    display: inline-block;
    margin-right: 8%;
}

input.AboutUs{
    color: black;
}

textarea.AboutUs{
    color: black;
}

p.AboutUs-title{
    font-family: Aharoni;
    font-size: 200%;
}

a.AboutUs-title-bar{
    color: white;
    font-family: Aharoni;
    font-size: 180%;
}

p.AboutUs-text{
    font-family: Aharoni;
    font-size: 150%;
}