body{
    background-color:#F0F0F0;
}

.category{
    text-align: center;
    width:100%;
    display:inline-block;
    position:relative;
    padding:3%;
}

.category_image{
    -webkit-filter: brightness(0.5);
    max-width:100%;
    height:auto;
}

.category_name{
    font-family: Aharoni;
    color:white;    
}

.overlay {
  position: absolute;
  top:30%;
  left:0;
  width:100%;
}
