@media (max-width: 490px) {
  #searchbar {
    float:none !important;
  }
    
    #select_category_main_box h2{
        float:none;
        text-align: center;
    }
    
     h2 {
      font-size: 1em;
   }
} 


body{
    background-color:#F0F0F0;
}

.category{
    text-align: center;
    width:100%;
    display:inline-block;
    position:relative;
    padding:3%;
}

.category_image{
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
    max-width:100%;
    height:auto;
}

.category_name{
    font-family: Aharoni;
    color:white;    
}

.overlay {
  position: absolute;
  top:30%;
  left:0;
  width:100%;
}

#select_category_main_box{
    font-family: Aharoni;
    color:white;
    display: inline-block;
    background-color: dodgerblue;
    width: 100%; 
}

#select_category_main_box h2{
    
    float: left;
    padding-left:3%;
    vertical-align: middle;
}

#searchbar{
    color: black;
    float:right;
    padding-right:3%;
    vertical-align: middle !important;
}

.typeahead{
    margin-top:5%;
    vertical-align: middle !important;
}

.input-group{
    float: right;
    padding-right: 3%;
}

.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}

.tt-menu{
color:black;
background-color:ghostwhite;
}

.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}
