.offertsBox
{
    width: 100%;
    background-color: #1E90FF;
    border-style: solid;
    border-color: #0F487F;
    color: white;
    text-align: center;
    font-family: Aharoni;
}
#offertsTitle
{
}
#offertsContacts
{
}
a
{
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    font-family: Aharoni;
}