body
{
    padding: 0;
    margin: 0;
    background-color: #eee;
}
.offertsBox
{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #1E90FF;
    border-style: solid;
    border-color: #0F487F;
    color: white;
    text-align: center;
    font-family: Aharoni;
}
.customLink
{
    color: white;
}