*{
    margin: 0;
    padding: 0;
}

div.home{
    text-align: center;
    color: white;
}

div.container{
    padding: 5%;
}

#title{ 
    background-image: url("../RES/IMAGES/main_div_image.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
}

#aboutUs{
    background-color: rgb(100,100,250);
    width: 100%;
}

#courses{
    background-image: url("../RES/IMAGES/Personal-Trainer.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
    
}

#offers{
    background-color: rgb(100,100,250);
    width: 100%;
}

#offers-left{
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}

#offers-right{
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}

#social{
    background-color: rgb(50,50,250);
    width: 100%;
}

p.title{
    font-family: Aharoni;
    font-size: 200%;
}

p.text{
    font-family: Aharoni;
    font-size: 150%;
}

a.color{
    color: white;
}

img {
    height: 50;
    width: 200;
}

img.social {
    padding-left: 2%;
    padding-right: 2%;
    height: 80;
    width: 80;
}