body
{
    min-width: 250px;
    background-color: #eee;
}
p
{
    font-size: 19px;
    font-family: Aharoni;
    color: white;
}
#instructorsContent a:hover,#instructorsContent a:visited,#instructorsContent a:link,#instructorsContent a:active
{
    color: white;
    text-decoration: none;
}
#instructorOfTheMonth
{
    width: 98%;
    margin: auto;
}
.instructorImg
{
    float: left;
    width: 150px;
    height: 150px;
}
.instructorDesc
{
    display: inline-block;
    margin-left: 2%;
}
.instructorTitle
{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Aharoni;
}
.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-align: center;
  padding: 0;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  background-image: -webkit-linear-gradient(top,#419641 0,#5cb85c 100%);
  background-image: -o-linear-gradient(top,#419641 0,#5cb85c 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#419641),to(#5cb85c));
  background-image: linear-gradient(to bottom,#419641 0,#5cb85c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}

.list-group-item a{
color:black;
}
