
body
{
    padding: 0;
    margin: 0;
}
.customFormInput
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#registrationFormContainer h2
{
    color: white;
}
#registrationFormContainer
{
    width: 95%;
    margin: auto;
    padding: 0;
    background-image: url(../RES/IMAGES/registrationPageImage.svg);
    background-size: cover;
}
#termsAndConditions
{
    background-color: lightgray;
    font-size: 13px;
    color: black;
}
.noPadding
{
    width: 45%;
    margin: auto;
    padding: 0;
}
.jumbotron
{
    margin: 0;
}
@media (min-width: 768px)
{
.container 
{
  max-width: none;
}
}