body
{
    background-color: dimgray;
}
label
{
    color: white;
    font-family: Aharoni;
}
#registrationContent
{
    width: 79%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
}
#registrationContentLeftHalf
{   
    display: inline-block;
    margin-left: 9%;
    width: 45%;
    float: left;
}
#registrationContentRightHalf
{
    display: inline-block;
    width: 45%;
}
#registrationForm
{
    background-color: cadetblue;
    margin-bottom: 10%;
    border: 10%;
    padding: 3%;
    border-style: solid;
    border-color: darkslategray;
}
#registerFormHeading
{
    color: white;
    text-align: center;
    font-family: Aharoni;
}
#visitOffers
{
    background-color: #4388CC;
    margin-bottom: 20%;
    padding: 3%;
    border: 10%;
    border-style: solid;
    border-color: #1B3280;
}
#loginForm
{
    background-color: #4388CC;
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 3%;
    border: 10%;
    border-style: solid;
    border-color: #1B3280;
}
#loginFormHeading
{
    color: white;
    text-align: center;
    font-family: Aharoni;
}
#registrationImage
{
    height: 68.7%;
    margin-bottom: 20%;
    margin-left: 10%;
    border-style: solid;
    border-color: black;
    background-image: url(../RES/IMAGES/registrationPageImage.jpg);
    background-size: 100% 100%;
}
.customFormInput
{
   border-radius: 0px;
   margin-bottom: 1%;
}
.customSubmitFormButton
{
    width: auto;
    margin-left: 20%;
    border-radius: 0px;
    color: black;
    background-image: none; 
    background-color: white;
}
.offersText
{
    color: white;
    text-align: center;
    font-family: Aharoni;
    line-height: 110%;
    
}
#offersDivjoinUsLink
{
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
}