@media (max-width: 490px) {
   
     h2 {
      font-size: 1em;
   }
    
    .overlay {
      position: absolute;
      top:5%;
      left:0;
      width:100%;
}
} 

body{
    background-color:#F0F0F0;
}

#course_container{
    text-align: center;
    width:100%;
    display:inline-block;
    position:relative;
    padding:3%;
}

.course_image{
    -webkit-filter: brightness(0.5);
    max-width:100%;
    height:auto;
}

.course_name{
    font-family: Aharoni;
    color:white;    
}

.overlay {
  position: absolute;
  top:30%;
  left:0;
  width:100%;
}

.teacher-small-image{
    max-height: 20px;
    max-width: 20px;
}

#info_tabpanel{
    width:100%;
    display:inline-block;
    position:relative;
    padding:5%;
}

#description{
padding-top:3%;
}

#teachers{
padding-top:3%;
}

#calendar{
    padding-top:3%;
}