*{
    margin:0;
    padding:0;
}
#footer{
    display: block;
    position:fixed;
    width:100%;
    bottom:0px;
    margin: 0 auto;
    clear:both;
    background-color:dodgerblue;
}

div.footer_column{
    position: relative;
    display:inline-block; /*indicando solo questa istruzione, i div verranno messi a capo se il contenuto è troppo grosso. Per evitarlo,
    aggiungo la seguente riga di codice "width:auto" così la grandezza del div si adatta al contenuto*/
    width:33%; 
    padding-top:2%;
    padding-bottom: 4%;
    font-family: Aharoni;
    text-align: center;
    color:white;
    letter-spacing: 0.7px;
}